<li id="artwork-<%= artwork.id %>">
	<h4 class="artworks-title">
		<%= artwork.title %>
	</h4>
	<div class="artwork-delete">
		<% if logged_in? %>
		 	<%= link_to "Delete", artwork, method: :delete,
		 		data: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
	<span class="row artworks-content">
		<!-- <div class="col-md-6">
			<%= artwork.content %>
		</div> -->
		<div class="col gallery-col">
			<% if artwork.image.attached? %>
					<%= image_tag artwork.image %>
			<% end %>
		</div>
	</span>
</li>


<!-- <button type="button" data-bs-toggle="modal" data-bs-target="#image-test"></button>
 -->
<!-- <div class="modal fade" id="image-test" tabindex="-1" 
	aria-labelledby="image-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= image_tag artwork.image %>
		</div>
	</div>
</div> -->


