<li id="artwork-<%= artwork.id %>">
	<h4 class="artworks_title"><%= artwork.title %></h4>
	<div>
		<% if logged_in? %>
		 	<%= link_to "Delete", artwork, method: :delete,
		 		data: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
	<span class="row artworks_content">
		<div class="col-md-6">
			<%= artwork.content %>
		</div>
		<div class="col-md-6">
			<% if artwork.image.attached? %>
				<%= image_tag artwork.image, class: "image-jpg" %>
			<% end %>
		</div>
	</span>
</li>