<li id="artwork-<%= artwork.id %>">
	<h4 class="artworks-title">
		<%= artwork.title %>
	</h4>

	<h6 class="artworks-location">
		<%= artwork.location %>
	</h6>

	<span class="row artworks-content">
		<div class="col gallery-col">
			<% if artwork.image.attached? %>
					<%= image_tag(artwork.image) %>
			<% end %>
		</div>
	</span>

	<h6 class="artworks-medium">
		- <%= artwork.medium %>
	</h6>
</li>


