<%= form_with(model: @artwork, local: true) do |f| %>
	<%= hidden_field_tag :searching, true %>
	<div class="content-field">
		<%= f.text_field :title, required: true, placeholder: "Artwork title..." %>
	</div>
	<div class="content-field">
		<%= f.text_field :location, required: true, placeholder: "Artwork location..." %>
	</div>
	<div class="content-field">
		<%= f.text_field :medium, required: true, placeholder: "Artwork medium..." %>
	</div>
	<span class="image">
		<%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
	</span>
	<div>
		<%= f.submit "Submit", class: "btn btn-primary new-art-submit" %>
	</div>
<% end %>