<header class="navbar navbar-fixed-top">
  <div class="container navbar_container">
    <%= link_to image_tag("KHSlogo.jpg", alt: "Site logo", id: "logo"), 
      "https://google.com" %>
    <nav>
      <ul class="nav navbar-right site_nav">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "Gallery", '#' %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</header>