<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container-fluid">
    <%= link_to image_tag("KHSlogo.jpg", alt: "Site logo", id: "logo"), 
      root_path %>
      <button type="button" class="navbar-toggler" 
          data-bs-toggle="collapse" 
          data-bs-target="#menu"
          aria-controls="menu"
          aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav me-auto navbar-nav-scroll"> 
          <li class="nav-item"><%= link_to "Home", root_path %></li>
          <li class="nav-item"><%= link_to "Gallery", gallery_path %></li>
          <li class="nav-item"><%= link_to "About", about_path %></li>
          <li class="nav-item"><%= link_to "Contact", contact_path %></li>
          <% if logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle admin-menu" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="admin-item"><%= link_to "Reviews", reviews_path %></li>
                <li class="admin-item"><%= link_to "Gallery Update", gallerymod_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item ig-logo-align">
            <%= link_to image_tag("IG-color.jpg", alt: "ig-logo", id: "ig-logo"), 'https://www.instagram.com/watercolor_memories_by_kate/', target: :_blank %>
          </li>
        </ul>
      </div>
  </div>
</nav>